{% extends "index.html" %}

{% block content %}
<script>
  var data = {{ data|tojson }};
  console.log(data);
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'appointments.js') }}"></script>

    <div class="container-fluid">
        
        <div class="row">
            <div class = "col-sm-1">
                Design ID
            </div>
            <div class = "col-sm-1">
                Customer Name
            </div>
            <div class = "col-sm-1">
                Artist Name
            </div>
            <div class = "col-sm-3">
                Design
            </div>
            <div class = "col-sm-1">
                Start
            </div>
            <div class = "col-sm-1">
                End
            </div>
            <div class = "col-sm-1">
                Cost
            </div>
            <div class = "col-sm-2">
                Address
            </div>
            <div class = "col-sm-1">
                Amount Paid
            </div>
        </div>
            {% for k,v in data.items() %}
            <div class="row">
            <div class = "col-sm-1">
                {{v.id}}
            </div>
            <div class = "col-sm-1">
                {{v.customer}}
            </div>
            <div class = "col-sm-1">
                {{v.artist}}
            </div>
            <div class = "col-sm-3">
                {{v.design}}
            </div>
            <div class = "col-sm-1">
                {{v.start}}
            </div>
            <div class = "col-sm-1">
                {{v.end}}
            </div>
            <div class = "col-sm-1">
                {{v.cost}}
            </div>
            <div class = "col-sm-2">
                {{v.address}}
            </div>
            <div class = "col-sm-1">
                {{v.paid}}
            </div>
            </div>
           
            {% endfor %}
        </div>
    </div>

    
{% endblock %}