<{% extends "index.html" %}
{% block content %}
<script>
  var data = {{ data|tojson }};
  console.log(data);
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'artists.js') }}"></script>

    <div class="container-fluid">
            <br>
            <h1><i>{{data.name}}</i></h1>
            <br>
            <h3>Tattoo artist from {{data.city}}, {{data.state}}</h3>
            <br>
            <h4>Member since: {{data.registered}}</h4>
            <br>
            Bio: {{data.bio}}
            <br>
            <br>
            <h2>Tattoo Designs:</h2>
            <br>
                <div class="row">
            <div class = "col-sm-1">
                Design ID
            </div>
            <div class = "col-sm-4">
                Description
            </div>
            <div class = "col-sm-1">
                Cost
            </div>
            <div class = "col-sm-1">
                Available
            </div>
        </div>
            {% for v in data.designs %}
            <div class="row">
            <div class = "col-sm-1">
                {{v.id}}
            </div>
            <div class = "col-sm-4">
                {{v.desc}}
            </div>
            <div class = "col-sm-1">
                {{v.cost}}
            </div>
            <div class = "col-sm-1">
                {{v.available}}
            </div>
            </div>
           
            {% endfor %}
            <br>
            <h2> appointments </h2>
            <br>
            <div class="row">
            <div class = "col-sm-1">
                Appointment ID
            </div>
            <div class = "col-sm-1">
                Customer Name
            </div>
            <div class = "col-sm-2">
                Design
            </div>
            <div class = "col-sm-1">
                Start
            </div>
            <div class = "col-sm-1">
                End
            </div>
            <div class = "col-sm-1">
                Cost
            </div>
            <div class = "col-sm-2">
                Studio Address
            </div>
            <div class = "col-sm-1">
                Amount Paid
            </div>
            <div class = "col-sm-1">
                Delete Appointment
            </div>
        </div>
            {% for k,v in data.appts.items() %}
            <div class="row">
            <div class = "col-sm-1">
                {{v.id}}
            </div>
            <div class = "col-sm-1">
                <a href="/artist/{{v.artistid}}">{{v.customer}}</a>
            </div>
            <div class = "col-sm-2">
                <a href="/designs/{{v.designid}}">{{v.design}}</a>
            </div>
            <div class = "col-sm-1">
                {{v.start}}
            </div>
            <div class = "col-sm-1">
                {{v.end}}
            </div>
            <div class = "col-sm-1">
                {{v.cost}}
            </div>
            <div class = "col-sm-2">
                <a href="/studios/{{v.studioid}}">{{v.address}}</a>
            </div>
            <div class = "col-sm-1">
                <a href="/payment/{{v.paymentid}}">{{v.paid}}</a>
            </div>
            <div class = "col-sm-1">
                {% if not v.paid %}
                <form method="POST" action="/deleteappt/{{v.id}}">
                <input type="submit" id = "{{v.id}}" class="btn btn-danger" value = "X">
                </form>
                {% endif %}
            </div>
            </div>
            {% endfor %}
        </div>

     </div>

{% endblock %}