<{% extends "index.html" %}
{% block content %}
<script>
  var data = {{ data|tojson }};
  console.log(data);
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'artists.js') }}"></script>

    <div class="container-fluid">
            <br>
            <h1><i>{{data.name}}</i></h1>
            <br>
            <h3>Tattoo artist from {{data.city}}, {{data.state}}</h3>
            <br>
            <h4>Member since: {{data.registered}}</h4>
            <br>
            Bio: {{data.bio}}
            <br>
            <br>
            <h2>Tattoo Designs:</h2>
            <br>
                <div class="row">
            <div class = "col-sm-1">
                Design ID
            </div>
            <div class = "col-sm-4">
                Description
            </div>
            <div class = "col-sm-1">
                Cost
            </div>
            <div class = "col-sm-1">
                Available
            </div>
        </div>
            {% for v in data.designs %}
            <div class="row">
            <div class = "col-sm-1">
                {{v.id}}
            </div>
            <div class = "col-sm-4">
                {{v.desc}}
            </div>
            <div class = "col-sm-1">
                {{v.cost}}
            </div>
            <div class = "col-sm-1">
                {{v.available}}
            </div>
            </div>
           
            {% endfor %}
        </div>

     </div>

{% endblock %}