{% extends "index.html" %}

{% block content %}
<script>
  var data = {{ data|tojson }};
  console.log(data);
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'designs.js') }}"></script>
 <script>
    $(function(){ // let all dom elements are loaded
     $(document).on('show.bs.modal','#exampleModal', function () {
        alert('hi');
      });
    });
</script>

    <div class="container-fluid">
        Search for a design by design ID, description, artist, or city:
        <br>
        <form method = "POST" action = "/searchdesigns" class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" name="term" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        <div class="row">
            <div class = "col-sm-1">
                Design ID
            </div>
            <div class = "col-sm-2">
                Artist Name
            </div>
            <div class = "col-sm-3">
                Description
            </div>
            <div class = "col-sm-2">
                City
            </div>
            <div class = "col-sm-1">
                State
            </div>
            <div class = "col-sm-1">
                Cost
            </div>
            <div class = "col-sm-1">
                Available
            </div>
            <div class = "col-sm-1">
                Book
            </div>
        </div>
            {% for k,v in data.items() %}
            <div class="row">
            <div class = "col-sm-1">
                {{v.id}}
            </div>
            <div class = "col-sm-2">
                <a href="/artist/{{v.artistid}}">{{v.name}}</a>
            </div>
            <div class = "col-sm-3">
                {{v.desc}}
            </div>
            <div class = "col-sm-2">
                {{v.city}}
            </div>
            <div class = "col-sm-1">
                {{v.state}}
            </div>
            <div class = "col-sm-1">
                {{v.cost}}
            </div>
            <div class = "col-sm-1">
                {{v.available}}
            </div>
            <div class = "col-sm-1">
                {% if v.available %}
                <form method="POST" action="/book/{{v.id}}">
                <input type="submit" id = "{{v.id}}" class="btn btn-primary" value = "book">
                </form>
                {% endif %}

            </div>
            </div>
           
            {% endfor %}
        </div>
    </div>

    
{% endblock %}